body{
    background-color:indigo   
 
}

h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 50px;
}

.form{
   display: block;
   text-align: center;
   position: relative;
   top:50px;
}

#lab{
    color: white;
}

#button{
    width: 31%;
    position: relative;
    left: 40px;
}

#button1{
   position: relative;
   left: 650px;
   text-decoration: none;
}


a{
    text-decoration: none;
    color: white;
}

p{
    color: white;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 30px;
}
